#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
font-family: 'Trebuchet MS', sans-serif;
  background: #0c0c0c; 
  color: #f4f4f4; 
}

h1, h2 {
  color: #ff8c00; 
  text-shadow: 2px 2px #4b0082; 
}

h3 {
  color: #ffaf4e; 
  text-shadow: 2px 2px #4b0082; 
}

.sens {
  color: #f87e7e; 
  text-shadow: 2px 2px #693838; 
}

.house-card {
  background: #1a1a1a;
  border: 2px solid #4b0082; 
  padding: 16px;
  margin: 12px auto;
  border-radius: 8px;
  transition: 0.2s;
  max-width: 400px;
}

.house-card:hover {
  border-color: #ff8c00;
  box-shadow: 0 0 15px rgba(255,140,0,0.7);
}



button {
  background: #ff8c00;
  color: #1a1a1a; 
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #ffb84d;
  box-shadow: 0 0 10px #ff8c00;
}

.stats {
  border: 3px dashed #4b0082;
  padding: 1rem;
  margin: 1rem auto;
  max-width: 400px;
  border-radius: 8px;
  
}

.stats p, .stats ul {
    color:#ce7d13;
    list-style: none;
     text-shadow: 2px 2px #4b0082;
}

.hasCandy{
    color: #39ff14;
}

.noCandy{
    color: #7a0000;
}